@using Microsoft.AspNetCore.Authentication
@using Newtonsoft.Json
@using CallCenterCRM.Interfaces
@inject IApplicationService applicationService

@{
    ViewData["Title"] = "Home Page";

}
@*<h2>Claims</h2>
    <h1>@name</h1>
    <dl>
    @foreach (var claim in User.Claims)
    {
    <dt>@claim.Type</dt>
    <dd>@claim.Value</dd>
    }
    </dl>
    <h2>Properties</h2>

    <dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
    <dt>@prop.Key</dt>
    <dd>@prop.Value</dd>
    @ViewBag.userId
    }
    </dl>*@

<div class="row">
    <form asp-controller="Home" asp-action="Index" method="get" class="mb-4">
        <div class="row justify-content-end">
            <div class="col-md-3 form-group">
                <label class="control-label" for="fromDate">С даты:</label>
                <input class="form-control" type="date" value=@ViewBag.fromDate name="fromDate" id="fromDate" />
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label" for="toDate">До даты:</label>
                <input class="form-control" type="date" value=@ViewBag.toDate name="toDate" id="toDate" />
            </div>
            <div class="col-md-1 form-group" style="margin: 2em 0.75em 0 0;">
                <input type="submit" class="btn btn-primary" value="Фильтр" />
            </div>
        </div>
    </form>
    <div class="col-md-6">
        <input type="hidden" id="bar_all_data" value=@ViewBag.barAllData />
        <input type="hidden" id="bar_done_data" value=@ViewBag.barDoneData />
        <canvas id="myBar" style="width:100%; height: 500px"></canvas>
    </div>
    <div class="col-md-6">
        <input type="hidden" id="doughnut_data" value=@ViewBag.doughnutData />
        <canvas id="myDoughnut" style="width:100%; height: 500px"></canvas>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Scripts/GetUrlParamsScriptsPartial");
		await Html.RenderPartialAsync("Scripts/SearchFieldsScriptsPartial");
		await Html.RenderPartialAsync("Scripts/_ChartJsScriptsPartial");
	}
}