@model IEnumerable<CallCenterCRM.Models.OrganizationStats>
@using CallCenterCRM.Interfaces
@inject IUserService userService

@{
    string typeIdentityId = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier";
    string userIdentityId = GetUserClaim(typeIdentityId);

    var isAuthenticated = User.Identity.IsAuthenticated;

    string GetUserClaim(string type)
    {
        return User.Identities.First().Claims.First(c => c.Type == type).Value;
    }
}

<div class="table-responsive">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <div class="mt-4">
                <button class="btn btn-export-excel" id="btnExport" onclick="ExportToExcel('xlsx')">
                    Экспорт в Excel <i class="menu-icon mdi mdi-file-excel"></i>
                </button>
            </div>
            <div class="col-md-8">
                <form asp-controller="Home" asp-action="StatisticsOrganization" method="get">
                    <div class="row justify-content-end">
                        <input type="hidden" name="userId" value=@userService.GetUserId(userIdentityId) />
                        <div class="col-md-3 form-group">
                            <label class="control-label" for="fromDate">С даты:</label>
                            <input class="form-control" type="date" value=@ViewBag.fromDate name="fromDate" id="fromDate" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label" for="toDate">До даты:</label>
                            <input class="form-control" type="date" value=@ViewBag.toDate name="toDate" id="toDate" />
                        </div>
                        <div class="col-md-1 form-group" style="margin: 2em 0.75em 0 0;">
                            <input type="submit" class="btn btn-primary" value="Фильтр" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table id="statsTable" class="table table-striped" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2" valign="middle">
                    №
                </th>
                <th rowspan="2" valign="middle">
                    Территориальные отделения Республиканского центра
                </th>
                <th colspan="4" valign="middle">
                    Количество обращений
                </th>
                <th colspan="3" valign="middle">
                    Заявки на статус
                </th>
                <th rowspan="2" valign="middle">
                    Общий
                </th>
            </tr>
            <tr>
                <th>Физ. лиц.</th>
                <th>Юрик. лиц.</th>
                <th>мужчина</th>
                <th>женщина</th>
                <th> Рассмотрено</th>
                <th>В процессе</th>
                <th>Отклоненный</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Convert.ToInt32(item.Region)</td>
                    <td>@item.Region.GetDisplayName()</td>
                    <td>@item.FizikCount </td>
                    <td>@item.YurikCount </td>
                    <td>@item.MaleCount </td>
                    <td>@item.FemaleCount </td>
                    <td>@item.DoneCount</td>
                    <td>@item.ProcessCount</td>
                    <td>@item.RejectedCount</td>
                    <td><b>@item.AllCount</b></td>
                </tr>
            }
            <tr>
                <td colspan="8"></td>
                <td colspan="2"><b>Общее количество: @Model.Sum(m => m.AllCount)</b></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("Scripts/_ExportExcelScriptsPartial");
		await Html.RenderPartialAsync("Scripts/SearchFieldsScriptsPartial");
	}
}
