@model IEnumerable<CallCenterCRM.Models.Applicant>

@{
	ViewData["Title"] = "Index";
}

<h1>Заявители</h1>

<p>
	<a asp-action="Create" class="btn btn-success btn-rounded">Создать новое</a>
</p>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					Ф.И.О
				</th>
				<th>
					Адрес
				</th>
				<th>
					Дополнительная информация
				</th>
				<th>
					Количество обращений
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Surname)
						@Html.DisplayFor(modelItem => item.Firstname)
						@Html.DisplayFor(modelItem => item.Middlename)
					</td>
					<td>
						<b>Hudud: </b>@Html.DisplayFor(modelItem => item.Region)<br>
						<b>Tuman/shahar: </b>@Html.DisplayFor(modelItem => item.CityDistrict.Title)<br>
						<b>Hozirgi yashash manzili: </b>@Html.DisplayFor(modelItem => item.Address)<br>
					</td>
					<td>
						@if (item.Contact != null)
						{
							<b>Telefon:</b>
							@Html.DisplayFor(modelItem => item.Contact  ) <br>

						}
						@if (item.BirthDate != null)
						{
							<b>Tug'ilgan sana: </b>
							@Html.DisplayFor(modelItem => item.BirthDate ) <br>

						}
						@if (item.ExtraContact != null)
						{
							<b>Qo'shimcha telefonlar:</b>
							@Html.DisplayFor(modelItem => item.ExtraContact )
							<br>
						}
						@if (item.Gender != null)
						{
							<b>Jinsi:</b>
							@Html.DisplayFor(modelItem => item.Gender )
							<br>
						}
					</td>
					<td>
						<a class="btn btn-rounded btn-info application-count">
							@item.Applications.Count
						</a>
						<a asp-controller="Applications" asp-action="CreateByApplicant" asp-route-id=@item.Id class="btn btn-rounded btn-primary">Создать новый</a>
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil icon-edit"></i></a>
						<a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye"></i></a>
						<a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

