@model CallCenterCRM.Models.Attachment

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Вложение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HashName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HashName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-rounded btn-fw">Изменять</a> |
    <a asp-action="Index"  class="btn btn-secondary btn-rounded btn-fw">Назад</a>
</div>
