@model CallCenterCRM.Models.User
@using CallCenterCRM.Interfaces
@inject IUserService userService

@{
    string typeIdentityId = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier";
    string userIdentityId = GetUserClaim(typeIdentityId);

    var isAuthenticated = User.Identity.IsAuthenticated;

    string GetUserClaim(string type)
    {
        return User.Identities.First().Claims.First(c => c.Type == type).Value;
    }
}

<h1>Подробности</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Middlename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moderator.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    @if (userService.GetUserRole(userIdentityId) == Roles.CrmAdmin.GetDisplayName())
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-rounded btn-fw">Изменять</a>
        <a asp-action="PasswordChange" asp-route-id="@Model?.Id" asp-route-byAdmin="true"  class="btn btn-info btn-rounded btn-fw">
            Изменить пароль</a>

    }
    @if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
    {
        <a asp-controller="Users" asp-action="Branches" asp-route-moderatorId=@userService.GetUserId(userIdentityId) class="btn btn-secondary btn-rounded btn-fw">Назад</a>
    }
    else
    {
        <a asp-action="Index" class="btn btn-secondary btn-rounded btn-fw">Назад</a>
    }
</div>
