@model IEnumerable<CallCenterCRM.Models.User>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create" class="btn btn-success btn-rounded">Создать новое</a>
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Firstname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Middlename)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PasswordData)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Moderator)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdatedDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Contact)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Username)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Firstname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Middlename)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PasswordData)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Moderator.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdatedDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil icon-edit"></i></a>
					<a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye"></i></a>
					<a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>
