@using CallCenterCRM.Utilities
@using CallCenterCRM.Interfaces
@inject IUserService userService
@inject IApplicationService appService

@{
    string typeIdentityId = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier";
    string userIdentityId = GetUserClaim(typeIdentityId);

    var isAuthenticated = User.Identity.IsAuthenticated;

    string GetUserClaim(string type)
    {
        return User.Identities.First().Claims.First(c => c.Type == type).Value;
    }
}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    @if (userService.UserExists(userIdentityId) || GetUserClaim("role") == "CrmAdmin")
    {
        <ul class="nav">
            <li class="nav-item @Html.IsActive(controller: "Home", action: "Index")">
                <a class="nav-link" href="/">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Главная страница</span>
                </a>
            </li>

            @if (userService.GetUserRole(userIdentityId) == Roles.CrmOperator.GetDisplayName())
            {
                <li class="nav-item @Html.IsActive(controller: "Applicants", action: "Index")">
                    <a class="nav-link" asp-area="" asp-controller="Applicants" asp-action="Index">
                        <i class="menu-icon mdi mdi-account-card-details"></i>
                        <span class="menu-title">База Заявителей</span>
                    </a>
                </li>
            }
            else if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
            {
                <li class="nav-item @Html.IsActive(controller: "Users", action: "Branches")">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Branches" asp-route-moderatorId=@userService.GetUserId(userIdentityId)>
                        <i class="menu-icon mdi mdi-source-branch"></i>
                        <span class="menu-title">Организации или отделы</span>
                    </a>
                </li>
            }

            @if (userService.GetUserRole(userIdentityId) == Roles.CrmOperator.GetDisplayName()
           || userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName()
           || userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
            {
                @if (userService.GetUserRole(userIdentityId) != Roles.CrmOperator.GetDisplayName())
                {
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "AppsList")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="AppsList"
               asp-route-recipientId=@userService.GetUserId(userIdentityId)>
                            <i class="menu-icon mdi mdi-file-document-box"></i>
                            <span class="menu-title">Обращения</span>
                            @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.SendMod) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                            {
                                <span class="count-of-apps bg-green">@appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.SendMod)</span>
                            }
                            @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.SendOrg) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
                            {
                                <span class="count-of-apps bg-green">@appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.SendOrg)</span>
                            }
                        </a>
                    </li>
                }
                else if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                {
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "RejectedMod")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="RejectedMod">
                            <i class="menu-icon mdi mdi-lead-pencil"></i>
                            <span class="menu-title">Переработанные приложения</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "Index")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Index">
                            <i class="menu-icon mdi mdi-file-document-box"></i>
                            <span class="menu-title">Обращения</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "Selected")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Selected">
                            <i class="menu-icon mdi mdi-star-outline"></i>
                            <span class="menu-title">Избранные</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "RejectedMod")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="RejectedMod">
                            <i class="menu-icon mdi mdi-lead-pencil"></i>
                            <span class="menu-title">Отклоненные </span>
                            @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.RejectMod) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmOperator.GetDisplayName())
                            {
                                <span class="count-of-apps bg-red">@appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.RejectMod)</span>
                            }
                        </a>
                    </li>
                }


            }
            else
            {
                <li class="nav-item @Html.IsActive(controller: "Users", action: "Index")">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="menu-icon mdi mdi-account-box-outline"></i>
                        <span class="menu-title">Пользователи</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsActive(controller: "Citydistricts", action: "Index")">
                    <a class="nav-link" asp-area="" asp-controller="Citydistricts" asp-action="Index">
                        <i class="menu-icon mdi mdi-city"></i>
                        <span class="menu-title">Город и районы</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsActive(controller: "Classifications", action: "Index")">
                    <a class="nav-link" asp-area="" asp-controller="Classifications" asp-action="Index">
                        <i class="menu-icon mdi mdi-view-list"></i>
                        <span class="menu-title">Классификации</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsActive(controller: "Directions", action: "Index")">
                    <a class="nav-link" asp-area="" asp-controller="Directions" asp-action="Index">
                        <i class="menu-icon mdi mdi-directions-fork"></i>
                        <span class="menu-title">Направление</span>
                    </a>
                </li>
            }

            @if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName()
           || userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
            {
                @if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                {
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "Delayed")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Delayed" asp-route-recipientId=@userService.GetUserId(userIdentityId)>
                            <i class="menu-icon mdi mdi-clock-end"></i>
                            <span class="menu-title">Просроченные</span>
                            @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.AskDelay) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                            {
                                <span class="count-of-apps bg-yellow">@appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.AskDelay)</span>
                            }
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item @Html.IsActive(controller: "Applications", action: "Delayed")">
                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Delayed" asp-route-recipientId=@userService.GetUserId(userIdentityId)>
                            <i class="menu-icon mdi mdi-clock-end"></i>
                            <span class="menu-title">Просроченные</span>
                            @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.RejectDelay)
                           + appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.Delay) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
                            {
                                <span class="count-of-apps bg-yellow">@(appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.RejectDelay) + appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.Delay))</span>
                            }
                        </a>
                    </li>
                }
                <li class="nav-item @Html.IsActive(controller: "Applications", action: "RejectedOrg")">
                    <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="RejectedOrg" asp-route-recipientId=@userService.GetUserId(userIdentityId)>
                        <i class="menu-icon mdi mdi-close-circle-outline"></i>
                        <span class="menu-title">Отклоненные</span>
                        @if (appService.AppCount(userService.GetUserId(userIdentityId), ApplicationStatus.RejectOrg) > 0
                       && userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                        {
                            <span class="count-of-apps bg-red">@appService.AppCount(userService.GetUserId(userIdentityId),ApplicationStatus.RejectOrg)</span>
                        }
                    </a>
                </li>
                <li class="nav-item @Html.IsActive(controller: "Answers", action: "AnswersList")">
                    <a class="nav-link" asp-area="" asp-controller="Answers" asp-action="AnswersList" asp-route-authorId=@userService.GetUserId(userIdentityId)>
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Ответы</span>
                        @if (appService.AnswerCount(userService.GetUserId(userIdentityId), AnswerStatus.Send) > 0
                       && userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())

                        {
                            <span class="count-of-apps bg-green">@appService.AnswerCount(userService.GetUserId(userIdentityId),AnswerStatus.Send)</span>
                        }
                        @if (appService.AnswerCount(userService.GetUserId(userIdentityId), AnswerStatus.Confirm) > 0
                       && userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
                        {
                            <span class="count-of-apps bg-green">@appService.AnswerCount(userService.GetUserId(userIdentityId),AnswerStatus.Confirm)</span>
                        }
                    </a>
                </li>
                @if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                {
                    <li class="nav-item @Html.IsActive(controller: "Answers", action: "Edited")">
                        <a class="nav-link" asp-area="" asp-controller="Answers" asp-action="Edited" asp-route-authorId=@userService.GetUserId(userIdentityId)>
                            <i class="menu-icon mdi mdi-pencil"></i>
                            <span class="menu-title">Переработанные ответы</span>
                            @if (appService.AnswerCount(userService.GetUserId(userIdentityId), AnswerStatus.Edit) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
                            {
                                <span class="count-of-apps bg-yellow">@appService.AnswerCount(userService.GetUserId(userIdentityId),AnswerStatus.Edit)</span>
                            }
                        </a>

                    </li>
                }
                else
                {
                    <li class="nav-item @Html.IsActive(controller: "Answers", action: "Rejected")">
                        <a class="nav-link" asp-area="" asp-controller="Answers" asp-action="Rejected" asp-route-authorId=@userService.GetUserId(userIdentityId)>
                            <i class="menu-icon mdi mdi-close-circle"></i>
                            <span class="menu-title">Отклоненные ответы</span>
                            @if (appService.AnswerCount(userService.GetUserId(userIdentityId), AnswerStatus.Reject) > 0
                           && userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
                            {
                                <span class="count-of-apps bg-red">@appService.AnswerCount(userService.GetUserId(userIdentityId),AnswerStatus.Reject)</span>
                            }
                        </a>
                    </li>
                }
            }



            @if (userService.GetUserRole(userIdentityId) == Roles.CrmOperator.GetDisplayName())
            {
                <li class="nav-item @Html.IsActive(controller: "Home", action: "StatisticsOperator")">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="StatisticsOperator">
                        <i class="mdi menu-icon mdi-chart-line"></i>
                        <span class="menu-title">Статистика</span>
                    </a>
                </li>
            }
            else if (userService.GetUserRole(userIdentityId) == Roles.CrmModerator.GetDisplayName())
            {
                @if (userService.HasBranches(userIdentityId))
                {
                    <li class="nav-item @Html.IsActive(controller: "Home", action: "StatisticsModerator")">
                        <a class="nav-link" asp-area="" asp-controller="Home"
               asp-action="StatisticsModerator" asp-route-userId=@userService.GetUserId(userIdentityId)>
                            <i class="mdi menu-icon mdi-chart-line"></i>
                            <span class="menu-title">Статистика</span>
                        </a>
                    </li>

                }
                else
                {
                    <li class="nav-item @Html.IsActive(controller: "Home", action: "StatisticsOrganization")">
                        <a class="nav-link" asp-area="" asp-controller="Home"
               asp-action="StatisticsOrganization" asp-route-userId=@userService.GetUserId(userIdentityId)>
                            <i class="mdi menu-icon mdi-chart-line"></i>
                            <span class="menu-title">Статистика</span>
                        </a>
                    </li>
                }
            }
            else if (userService.GetUserRole(userIdentityId) == Roles.CrmOrganization.GetDisplayName())
            {
                <li class="nav-item @Html.IsActive(controller: "Home", action: "StatisticsOrganization")">
                    <a class="nav-link" asp-area="" asp-controller="Home"
               asp-action="StatisticsOrganization" asp-route-userId=@userService.GetUserId(userIdentityId)>
                        <i class="mdi menu-icon mdi-chart-line"></i>
                        <span class="menu-title">Статистика</span>
                    </a>
                </li>
            }
        </ul>
    }
</nav>
