@model IEnumerable<CallCenterCRM.Models.Classification>

@{
	ViewData["Title"] = "Index";
}

<h1>Классификации</h1>

<p>
	<a asp-action="Create" class="btn btn-success btn-rounded">Создать новое</a>
</p>
<div class="table-responsive">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IsActive)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UpdatedDate)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<th>
						@Html.DisplayFor(modelItem => item.IsActive)
					</th>
					<td>
						@Html.DisplayFor(modelItem => item.UpdatedDate)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil icon-edit"></i></a>
						<a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye"></i></a>
						<a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
