@model IEnumerable<CallCenterCRM.Models.Application>

@{
	ViewData["Title"] = "Index";

	string GetAppNumber(Application item)
	{
		int Id = item.Id;
		int RefSrcCode = item.Applicant.ReferenceSource.GetHashCode();
		string Year = item.CreatedDate.GetValueOrDefault().Year.ToString().Substring(2);

		return $"{Id}-{RefSrcCode}/{Year}";
	}
}

<h1>Заявление</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Номер обращения</th>
				<th>Источник обращения</th>
				<th>Дата поступления</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Отчество</th>
				<th>Регион</th>
				<th>Район/город</th>
				<th>Телефон</th>
				<th>Тип заявителя</th>
				<th>Автор</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">@GetAppNumber(item)</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.ReferenceSource)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.CreatedDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Firstname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Surname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Middlename)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Region)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.CityDistrict.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Contact)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Applicant.Type)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Recipient.Username)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>